<div class="mainContainer">
  <div class="col-md-12 row brewIndexEntry panel panel-primary">
    <div class="col-md-2">
      <img src="https://cdn0.iconfinder.com/data/icons/monsters-and-creatures/512/monster-creature-avatar-alien-green-128.png" alt="" class='img-responsive'></img>
    </div>
    <div class="col-md-10">
      <div class="pull-right panel panel-warning">This Is the System</div>
      <h3>This is an H3 Title</h3>
      <h6>h6 author</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Filter Item 1</a></li>
        <li role="presentation"><a href="#">Filter Item 2</a></li>
        <li role="presentation"><a href="#">Filter Item 3</a></li>
        <li role="presentation"><a href="#">Filter Item 4</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row brewIndexEntry panel panel-primary">
    <div class="col-md-2">
      <img src="https://cdn0.iconfinder.com/data/icons/monsters-and-creatures/512/monster-creature-avatar-alien-green-128.png" alt="" class='img-responsive'></img>
    </div>
    <div class="col-md-10">
      <div class="pull-right">This Is the System</div>
      <h3>This is an H3 Title</h3>
      <h6>h6 author</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Filter Item 1</a></li>
        <li role="presentation"><a href="#">Filter Item 2</a></li>
        <li role="presentation"><a href="#">Filter Item 3</a></li>
        <li role="presentation"><a href="#">Filter Item 4</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row brewIndexEntry panel panel-primary">
    <div class="col-md-2">
      <img src="https://cdn0.iconfinder.com/data/icons/monsters-and-creatures/512/monster-creature-avatar-alien-green-128.png" alt="" class='img-responsive'></img>
    </div>
    <div class="col-md-10">
      <div class="pull-right brewIndexEntry panel panel-warning">This Is the System</div>
      <h3>This is an H3 Title</h3>
      <h6>h6 author</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Filter Item 1</a></li>
        <li role="presentation"><a href="#">Filter Item 2</a></li>
        <li role="presentation"><a href="#">Filter Item 3</a></li>
        <li role="presentation"><a href="#">Filter Item 4</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-12 row brewIndexEntry panel panel-primary">
    <div class="col-md-2">
      <img src="https://cdn0.iconfinder.com/data/icons/monsters-and-creatures/512/monster-creature-avatar-alien-green-128.png" alt="" class='img-responsive'></img>
    </div>
    <div class="col-md-10">
      <div class="pull-right">This Is the System</div>
      <h3>This is an H3 Title</h3>
      <h6>h6 author</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
      <ul class="nav nav-pills">
        <li role="presentation"><a href="#">Filter Item 1</a></li>
        <li role="presentation"><a href="#">Filter Item 2</a></li>
        <li role="presentation"><a href="#">Filter Item 3</a></li>
        <li role="presentation"><a href="#">Filter Item 4</a></li>
      </ul>
    </div>
  </div>
</div>
