<div class="col-md-12 row brewIndexEntry panel panel-primary">
  <div class="col-md-2">
    <img src="https://cdn0.iconfinder.com/data/icons/monsters-and-creatures/512/monster-creature-avatar-alien-green-128.png" alt="" class='img-responsive'></img>
  </div>
  <div class="col-md-10">
    <div class="pull-right panel panel-warning">This Is the System</div>
    <h3>{{entryData.title}}</h3>
    <h6>{{entryData.author[0].username}}</h6>
    <p>{{entryData.description}}</p>
    <ul class="nav nav-pills">
      <li role="presentation"><a href="#">Filter Item 1</a></li>
      <li role="presentation"><a href="#">Filter Item 2</a></li>
      <li role="presentation"><a href="#">Filter Item 3</a></li>
      <li role="presentation"><a href="#">Filter Item 4</a></li>
    </ul>
  </div>
</div>
